$primary   : #57bf98
$secondary : #24a3cb
$accent    : #ffdd45


$dark      : #1D1D1D
$dark-page : #1C1C1C

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037

$yellow : #FCB70F
$yellow-1       : rgba($yellow, .1)
$yellow-4       : rgba($yellow, .5)
$yellow-7 : rgba($yellow, .7)

$green : #44DBA4
$green-1: rgba($green, .1)

$blue : #0A0839

$red: #F14A3B
