$primary   : #5dd3a7

.text-shadow-primary
  color: #57bf98 !important

$secondary : #24a3cb
$accent    : #ffdd45


$dark      : #1D1D1D
$dark-page : #1C1C1C

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037

$yellow : #FCB70F
$yellow-1       : lighten($yellow, 40%)
$yellow-4       : lighten($yellow, 10%)
$yellow-7 : lighten($yellow, 5%)
$green : #44DBA4
$green-1: lighten($green, 35%)

$osoc-blue: #0A0839
.bg-osoc-blue
  background: #0A0839 !important

.text-osoc-blue
  color: #0A0839 !important

// Example for new colors
$newcolor: #57bf98
.bg-newcolor
  background: #57bf98 !important

.text-newcolor
  color: #57bf98 !important
