$primary   : #1976D2
$secondary : #26A69A
$accent    : #9C27B0

$dark      : #1D1D1D
$dark-page : #1C1C1C

$osoc-yellow: #FCB70F
$osoc-blue  : #0A0839
$osoc-red   : #F14A3B
$osoc-green : #67BA98
$osoc-green-other : #44DBA4

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037