django-oauth-toolkit
django-rest-auth
dj-rest-auth
dj-rest-auth[with_social]
djangorestframework-simplejwt
psycopg2
Django >= 2.0, < 4
djangorestframework
drf-yasg
django-nose
coverage
django-cors-headers
django-filter
channels
channels_redis